<div id="chat" class="clearfix">
	<div id="chat-box">
		<div id="header" class="header clearfix">
			<div class="user-info clearfix">
				<img src="../public/img/face5.jpg" alt=""><strong>Jessica</strong>
			</div>
			<div class="icons">
				<i class="fas fa-info-circle"></i>
				<i class="fas fa-expand-arrows-alt"></i>
				<i class="far fa-times-circle"></i>
			</div>
		</div>
		<div class="messages clearfix">
			<div class="message clearfix me">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, odio?</p>
			</div>
			<div class="message clearfix me">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, odio?</p>
			</div>
			<div class="message clearfix other">
				<p>Lorem ipsum</p>
			</div>
			<div class="message clearfix other">
				<p>Lorem ipsum</p>
			</div>
			<hr>
		</div>
		<div class="text">
			<textarea name="name" placeholder="Type your message.."></textarea>
		</div>
	</div>
</div>
