<footer>
	<div class="container">
		<ul>
			<li><a href="">HOME</a></li>|
			<li><a href="">ABOUT</a></li>|
			<li><a href="">TESTIMONIALS</a></li>
		</ul>
		<p>Matcha Dating Site &copy 2018 All rights reserved</p>
	</div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="js/main.js"></script>
{{#each js}}
	<script src="js/{{this}}.js"></script>
{{/each}}
</body>
</html>
