<div id="search-panel">
	<h4>Search</h4>
	<input type="search" name="" value="" placeholder="Search...">
	<ul class="">
		<li><a href=""><i class="fas fa-calendar-alt"></i>Age</a></li>
		<li><a href=""><i class="fas fa-map-marker"></i>Location</a></li>
		<li><a href=""><i class="fas fa-star"></i>Fame Rate</a></li>
		<li><a href=""><i class="fas fa-tags"></i>Interests</a></li>

		<div class="box clearfix">
			<strong>Maximum distance</strong>
			<div class="range"><span>18km</span></div>
			<div id="master" style="width:260px; margin:15px;"></div>
		</div>
		<div class="box clearfix">
			<strong>Age range</strong>
			<div class="range"><span>18</span>-<span>32</span></div>
			<div id="slider-range"></div>
		</div>
	</ul>
</div>
