<div class="menu">
	<ul class="clearfix">
		<li><a href="" class="clearfix">Matches<i class="fas fa-heart"></i></a></li>
		<li><a href="" class="clearfix">Fans<i class="fas fa-star"></i></a></li>
		<li><a href="" class="clearfix">Visitors<i class="far fa-eye"></i></a></li>
	</ul>
</div>
<div class="user">
	<img src="img/face4.jpg" alt="">
	<strong></strong>
	<div class="status">
		<span class="online"></span>
		<small>Online</small>
	</div>
	<a href="" class="btn">MORE</a>
</div>
<div class="user">
	<img src="img/face2.jpg" alt="">
	<strong></strong>
	<div class="status">
		<span class="online"></span>
		<small>Online</small>
	</div>
	<a href="" class="btn">MORE</a>
</div>
<div class="user">
	<img src="img/face1.jpg" alt="">
	<strong></strong>
	<div class="status">
		<span class="offline"></span>
		<small>Online</small>
	</div>
	<a href="" class="btn">MORE</a>
</div>
<div class="user">
	<img src="img/face3.jpg" alt="">
	<strong></strong>
	<div class="status">
		<span class="offline"></span>
		<small>Online</small>
	</div>
	<a href="" class="btn">MORE</a>
</div>
