<div class="user">
	<img src="img/face4.jpg" alt="">
	<strong></strong>
	<div class="status">
		<span class="online"></span>
		<small>Online</small>
	</div>
	<a href="" class="btn">MORE</a>
</div>
<div class="user">
	<img src="img/face2.jpg" alt="">
	<strong></strong>
	<div class="status">
		<span class="online"></span>
		<small>Online</small>
	</div>
	<a href="" class="btn">MORE</a>
</div>
<div class="user">
	<img src="img/face1.jpg" alt="">
	<strong></strong>
	<div class="status">
		<span class="offline"></span>
		<small>Online</small>
	</div>
	<a href="" class="btn">MORE</a>
</div>
<div class="user">
	<img src="img/face3.jpg" alt="">
	<strong></strong>
	<div class="status">
		<span class="offline"></span>
		<small>Online</small>
	</div>
	<a href="" class="btn">MORE</a>
</div>
