
<% include partials/header.ejs %>
<div id="hero-section">
	<div class="container">
		<form action="/register" class="register clearfix" method="post">
			<h2>SIGN UP</h2>
			<input name="firstname" class="input" type="text" placeholder="First name">
			<input name="lastname" class="input" type="text" placeholder="Email address">
			<input name="email" class="input" type="text" placeholder="Last Name">
			<input name="password" class="input" type="text" placeholder="Password">
			<input name="username" class="input" type="text" placeholder="Username">
			<input name="password2" class="input" type="text" placeholder="Confitm password">
			<span class="gender">
				<label for=""><input type="radio" name="gender" value="male">Male</label>
				<label for=""><input type="radio" name="gender" value="female">Female</label>
			</span>
			<button class="btn shallow fill">SIGN UP</button>
		</form>
	</div>
</div>
<div id="about-section">
	<div class="container">
		<h2>WHAT IS <i class="fas fa-heart"></i><span>Matcha</span></h2>
		<div class="text">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel architecto odit dignissimos reiciendis unde obcaecati rerum ad omnis, aliquam quisquam placeat eum doloremque, minima magni, sequi nostrum quos ea repellendus?</p>
			<p>Iste iusto asperiores necessitatibus, quas exercitationem voluptate ipsam, unde nulla harum voluptatem nesciunt consequatur consectetur ducimus velit incidunt. Cupiditate, velit. Eius porro aperiam consequatur accusamus dolores laudantium vel neque, sapiente.</p>
			<p>Earum minima quasi suscipit itaque perspiciatis, doloremque quas nihil, tenetur atque sit, placeat quisquam iste odio. Qui id deserunt dolores nesciunt dolore, eos nostrum voluptatibus illum a dolorem expedita! Ut.</p>
		</div>
		<img src="../public/img/about.jpg" alt="">
	</div>
</div>
<div id="testimonials-section">
	<div class="container">
		<div class="slider-container clearfix">
			<ul class="slider clearfix">
				<li class="slide">
					<img src="../public/img/face1.jpg" alt="">
					<h4>Username</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptatibus deserunt quo ea iure praesentium nam quos a, sit quis consequatur autem </p>
				</li>
				<li class="slide">
					<img src="../public/img/face2.jpg" alt="">
					<h4>Username</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptatibus deserunt quo ea iure praesentium nam quos a, sit quis consequatur autem </p>
				</li>
				<li class="slide">
					<img src="../public/img/face3.jpg" alt="">
					<h4>Username</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptatibus deserunt quo ea iure praesentium nam quos a, sit quis consequatur autem </p>
				</li>
				<li class="slide">
					<img src="../public/img/face4.jpg" alt="">
					<h4>Username</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptatibus deserunt quo ea iure praesentium nam quos a, sit quis consequatur autem </p>
				</li>
				<li class="slide">
					<img src="../public/img/face5.jpg" alt="">
					<h4>Username</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptatibus deserunt quo ea iure praesentium nam quos a, sit quis consequatur autem </p>
				</li>
			</ul>
		</div>
	</div>
</div>
</main>
<% include partials/footer.ejs %>
