<form action="/login" method="post" class="register clearfix">
	<h2>LOG IN</h2>
	<input class="input" name="username" type="text" placeholder="Username" value="{{username}}">
	<input class="input" name="password" type="text" placeholder="Password">
	<a href="">Forgot password?</a>
	<button class="btn shallow fill">SIGN UP</button>
</form>
