<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script|PT+Sans:400,700" rel="stylesheet">
	<link rel="stylesheet" href="../public/css/master.css">
	<link rel="stylesheet" href="../public/css/home.css">
	<link rel="stylesheet" href="../public/css/login.css">
	<title>Document</title>
</head>
<body>
	<main>
		<header>
			<div class="container">
				<div class="logo"><i class="fas fa-heart"></i><a href="">Matcha</a></div>
				<nav>
						<ul>
							<li><a href="" class="active">Home</a></li>
							<li><a href="">About</a></li>
							<li><a href="">Testimonial</a></li>
							<li><a href="" class="btn-login">Login</a></li>
						</ul>
				</nav>
			</div>
		</header>
		<div id="hero-section">
			<div class="container">
				<form action="/login" method="post" class="register clearfix">
					<h2>LOG IN</h2>
					<input class="input" name="username" type="text" placeholder="Username">
					<input class="input" name="password" type="text" placeholder="Password">
					<a href="">Forgot password?</a>
					<button class="btn shallow fill">SIGN UP</button>
				</form>
			</div>
		</div>
		<div id="about-section">
			<div class="container">
				<h2>WHAT IS <i class="fas fa-heart"></i><span>Matcha</span></h2>
				<div class="text">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel architecto odit dignissimos reiciendis unde obcaecati rerum ad omnis, aliquam quisquam placeat eum doloremque, minima magni, sequi nostrum quos ea repellendus?</p>
					<p>Iste iusto asperiores necessitatibus, quas exercitationem voluptate ipsam, unde nulla harum voluptatem nesciunt consequatur consectetur ducimus velit incidunt. Cupiditate, velit. Eius porro aperiam consequatur accusamus dolores laudantium vel neque, sapiente.</p>
					<p>Earum minima quasi suscipit itaque perspiciatis, doloremque quas nihil, tenetur atque sit, placeat quisquam iste odio. Qui id deserunt dolores nesciunt dolore, eos nostrum voluptatibus illum a dolorem expedita! Ut.</p>
				</div>
				<img src="../public/img/about.jpg" alt="">
			</div>
		</div>
		<div id="testimonials-section">
			<div class="container">
				<div class="slider-container clearfix">
					<ul class="slider clearfix">
						<li class="slide">
							<img src="../public/img/face1.jpg" alt="">
							<h4>Username</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptatibus deserunt quo ea iure praesentium nam quos a, sit quis consequatur autem </p>
						</li>
						<li class="slide">
							<img src="../public/img/face2.jpg" alt="">
							<h4>Username</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptatibus deserunt quo ea iure praesentium nam quos a, sit quis consequatur autem </p>
						</li>
						<li class="slide">
							<img src="../public/img/face3.jpg" alt="">
							<h4>Username</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptatibus deserunt quo ea iure praesentium nam quos a, sit quis consequatur autem </p>
						</li>
						<li class="slide">
							<img src="../public/img/face4.jpg" alt="">
							<h4>Username</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptatibus deserunt quo ea iure praesentium nam quos a, sit quis consequatur autem </p>
						</li>
						<li class="slide">
							<img src="../public/img/face5.jpg" alt="">
							<h4>Username</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptatibus deserunt quo ea iure praesentium nam quos a, sit quis consequatur autem </p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div class="container">
			<ul>
				<li><a href="">HOME</a></li>|
				<li><a href="">ABOUT</a></li>|
				<li><a href="">TESTIMONIALS</a></li>
			</ul>
			<p>Matcha Dating Site &copy 2018 All rights reserved</p>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script src="../public/js/slider.js"></script>
</body>
</html>
