<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script|PT+Sans:400,700" rel="stylesheet">
	<link rel="stylesheet" href="../public/css/master.css">
	<link rel="stylesheet" href="../public/css/profile.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
	<title>Document</title>
	<script>
	  $( function() {

		  $( "#master" ).slider({
	      value: 60,
	      orientation: "horizontal",
	      range: "min",
	      animate: true
	    });

	    $( "#slider-range" ).slider({
	      range: true,
	      min: 0,
	      max: 300,
	      values: [ 75, 300 ],
	      slide: function( event, ui ) {
	        $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
	      }
	    });
	    $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
	      " - $" + $( "#slider-range" ).slider( "values", 1 ) );
	  } );
  </script>
</head>
<body>
	<header>
		<div class="container">
			<div class="logo"><i class="fas fa-heart"></i><a href="">Matcha</a></div>
			<nav>
					<ul>
						<li><a href="" class="active">Home</a></li>
						<li><a href="">About</a></li>
						<li><a href="">Testimonial</a></li>
						<li><a href="" class="btn-login">Login</a></li>
					</ul>
			</nav>
		</div>
	</header>
	<main>
		<div class="container">
			<div id="info" class="clearfix">
				<div id="profile-img">
					<img src="../public/img/face2.jpg" alt="" class="rounded"><br>
					<i class="fas fa-pen-square"></i>Edit<br><br><br>
					<div class="img clearfix"><img alt="" src="../public/img/face1.jpg"></div>
					<div class="img clearfix"><img alt="" src="../public/img/face3.jpg"></div>
					<div class="img clearfix"><img alt="" src="../public/img/face5.jpg"></div>
					<div class="img clearfix"><img alt="" src="../public/img/face4.jpg"></div>
				</div>
				<div id="about">
					<h2>Benita, 21</h2>
					<strong>Cape Town, South Africa</strong>

					<h2>About Me:</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, a! Eius distinctio modi, incidunt nam ex aut provident dicta ducimus!</p>
					<p>Facere praesentium commodi natus autem repellat, maxime suscipit vitae blanditiis quisquam soluta, eos quia est earum consequatur laborum, reprehenderit aliquam.</p>

					<h2>Info: </h2>
					<table>
						<tr>
							<td>Name:</td>
							<td><input type="text" value="Benita Andrea"></td>
						</tr>
						<tr>
							<td>Surname:</td>
							<td><input type="text" value="Anderson"></td>
						</tr>
						<tr>
							<td>Email Address:</td>
							<td><input type="text" value="benita123@fmail.com"></td>
						</tr>
					</table>
				</div>
			</div>
			<div id="preferences" class="clearfix">
				<h2>Preferences</h2>
				<div class="box">
					<strong>Show me</strong><br>
					<label for="">Men<input type="checkbox"></label>
					<label for="">Women<input type="checkbox"></label>
				</div>
				<div class="box clearfix">
					<strong>Maximum distance</strong>
					<div class="range"><span>18km</span></div>
					<div id="master" style="width:260px; margin:15px;"></div>
				</div>
				<div class="box clearfix">
					<strong>Age range</strong>
					<div class="range"><span>18</span>-<span>32</span></div>
					<div id="slider-range"></div>
				</div>

			</div>
			<div id="interests" class="clearfix">
				<h2>Interests</h2>
				<div class="box">
					<table>
						<tr>
							<td><label for=""><i class="fas fa-film"></i> Movies</label></td>
							<td><input type="checkbox"></td>
							<td><label for=""><i class="fas fa-palette"></i> Art</label></td>
							<td><input type="checkbox"></td>
						</tr>
						<tr>
							<td><label for=""><i class="fas fa-utensils"></i> Food</label></td>
							<td><input type="checkbox"></td>
							<td><label for=""><i class="fas fa-plane-departure"></i> Travel</label></td>
							<td><input type="checkbox"></td>
						</tr>
						<tr>
							<td><label for=""><i class="far fa-futbol"></i> Sport</label></td>
							<td><input type="checkbox"></td>
							<td><label for=""><i class="fas fa-music"></i> Music</label></td>
							<td><input type="checkbox"></td>
						</tr>
						<tr>
							<td><label for=""><i class="fas fa-mountain"></i> Hiking</label></td>
							<td><input type="checkbox"></td>
							<td><label for=""><i class="fas fa-book"></i> Readings</label></td>
							<td><input type="checkbox"></td>
						</tr>


					</table>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div class="container">
			<ul>
				<li><a href="">HOME</a></li>|
				<li><a href="">ABOUT</a></li>|
				<li><a href="">TESTIMONIALS</a></li>
			</ul>
			<p>Matcha Dating Site &copy 2018 All rights reserved</p>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script src="../public/js/slider.js"></script>
</body>
</html>
